body {
    color: gray;
    font-family: Arial, serif;
    font-size: 22px;
}

h2 {
    color: #8b0000;
    font-size: 24px;
}

h1 {
    color: midnightblue;
    transition: color 0.5s;
}

h1:hover {
    color: #8b0000;
}

#trainer-table image:hover {
    transition: 2s;
    transform: scale(1.7);
}

.colored-tr {
    background-color: bisque;

}

table {
    border-spacing: 0;
}

.colored-tr:hover {
    background-color: #d49a53;
    transition: background-color 0.5s;
}

#menu td{
    padding-right: 15px;
}

#menu {
    margin-left: 15px;
}

a {
    color: darkgrey;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4c4b4b;
    transition: color 0.5s;
}

#profile-img {
    border-radius: 50%;
}

#profile-info-table {
    text-align: center;
}

form label {
    display: inline-block;
    width: 150px;
}

form input{
    border-color: darksalmon;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(28, 45, 115);
}