<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
    <link th:href="style.css" rel="stylesheet">

</head>

<body>


<table width="100%"> <!-- min-width + max-width -->
    <tr height="150px">
        <td bgcolor="#696969">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg" alt="">
                    </td>
                    <td ><h1 align="center">Приложение</h1></td>
                    <td width="100px"><a th:href="@{/registration}">Войти</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="aqua">

            <table id="menu" >
                <tr>
                    <td><a href="index.html">Тренер:</a></td>
                    <td><a href="#">Admin</a></td> <!-- пункт будет спрятан не для админов -->
                    <td><a href="#">Profile</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="150px">
        <td>
            <!-- Content -->
            <h2>Список тренеров:</h2>

            <table id="trainer-table" width="100%"> <!-- в ьабл все коллекции -->

                <td>Фото</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Email</td>
                <td>Зайди и запишись!</td>

                <tr class="colored-tr" th:each="train : ${all_trainer}"> <!-- Один tr = Одна коллекция -->

                    <td  width="100px"><img width="100px" th:src="${train.imageAvatar}"></td>
                    <td th:text="${train.name}"></td>
                    <td th:text="${train.surname}"></td>
                    <td th:text="${train.email}"></td>

                    <td width="50px"><a  th:href="@{/trainer-profile/{id} (id=${train.getId()})}">Open</a></td>

                </tr>


            </table>

        </td>
    </tr>
    <tr height="150px">
        <td bgcolor="aqua">4</td>
    </tr>
</table>


</body>

</html>