<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
    <link th:href="style.css" rel="stylesheet">
</head>

<body>
<table width="100%"> <!-- min-width + max-width -->
    <tr height="150px">
        <td bgcolor="#696969">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg" alt="">
                    </td>
                    <td ><h1 align="center">Приложение</h1></td>
                    <td width="100px"><a href="#">Войти</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="aqua">

            <table id="menu" >
                <tr>
                    <td><a th:href="@{/index}">Trainers</a></td>
                    <td><a href="#">Admin</a></td> <!-- пункт будет спрятан не для админов -->
                    <td><a href="/index/">Profile</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="150px">
        <td>
            <!-- Content -->
            <h2>Профиль</h2>

            <table width="600px"> <!-- в ьабл все коллекции -->
                <tr height="300px">
                    <td width="300px">
                        <img id="profile-img" width="300px" th:src="${found_by_id_trainer.imageAvatar}">
                <tr>
                    <td>Имя:</td>
                    <td th:text="${found_by_id_trainer.name}"></td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td th:text="${found_by_id_trainer.surname}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="${found_by_id_trainer.email}"></td>
                </tr>
                <tr>
                    <td>Стаж работы:</td>
                    <td th:text="${found_by_id_trainer.workExperience}"></td>
                </tr>


                </td>
                <td rowspan="2" valign="top" >

            </table>

            <td>
        <form method="POST"  th:action="@{/recording/create}" th:object="${createRecording}">
            <p><b>Заполните запись!</b></p>
            <lable for="name">Name:</lable>
            <input type="text" id="name" th:field="*{userName}">
            <br>
            <lable for="userSurname">Surname:</lable>
            <input type="text" id="userSurname" th:field="*{surname}">
            <br>
            <lable for="email">Email:</lable>
            <input type="text" id="email" th:field="*{userEmail}">
            <br>
            <lable for="day">Day:</lable>
            <input type="text" id="day" th:field="*{day}">
            <br>
            <lable for="time">Time:</lable>
            <input type="text" id="time" th:field="*{time}">
            <br>
            <lable for="phoneNumber">Phone number:</lable>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}">
            <p><b>Есть пожелания?:</b></p>
            <p><textarea name="message" id="message" th:value="*{message}"></textarea></p>
            <input type="hidden" id="trainerId" th:name="trainerId" th:value="${found_by_id_trainer.getId()}">

            <p><input type="submit" value="Записаться!"></p>
        </form>
            </td>

            </table>

<hr>


</td>
</tr>
<tr height="150px">
    <td bgcolor="aqua">4</td>
</tr>
</table>


</body>

</html>