<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
    <link th:href="style.css" rel="stylesheet">
</head>

<body>
<table width="100%"> <!-- min-width + max-width -->
    <tr height="150px">
        <td bgcolor="#696969">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg" alt="">
                    </td>
                    <td ><h1 align="center">Приложение</h1></td>
                    <td width="100px"><a href="#">Войти</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="aqua">

            <table id="menu" >
                <tr>
                    <td><a th:href="@{/index}">Trainers</a></td>
                    <td><a href="#">Admin</a></td> <!-- пункт будет спрятан не для админов -->
                    <td><a href="profile.html">Profile</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="150px">
        <td>
            <!-- Content -->
            <h2>Представьтесь:</h2>

<!--            <form method="POST" th:action="@{/trainer/login}" th:object="${createDto}">-->
<!--&lt;!&ndash;                <lable for="login">Login:</lable>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" id="login" th:field="*{email}" placeholder="Bob_Bobson">&ndash;&gt;-->
<!--&lt;!&ndash;                <br>&ndash;&gt;-->
<!--&lt;!&ndash;                <lable for="password">Pass:</lable>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="password" id="password" th:field="*{password}">&ndash;&gt;-->
<!--&lt;!&ndash;                <br>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="submit" value="Войти">&ndash;&gt;-->
<!--            </form>-->

            <hr>

            <h2>Регистрация:</h2>

            <form method="POST" th:action="@{/trainer/create}" th:object="${createDto}">
                <lable for="name">Name:</lable>
                <input type="text" id="name" th:field="*{name}">
                <br>
                <lable for="last-name">Lastname:</lable>
                <input type="text" id="last-name" th:field="*{surname}">
                <br>
                <lable for="email">Email:</lable>
                <input type="text" id="email" th:field="*{email}">
                <br>
                <lable for="password">Password:</lable>
                <input type="password" id="password" th:field="*{password}">
                <br>
                <lable for="work-experience">Work Experience</lable>
                <input type="text" id="work-experience" th:field="*{workExperience}">
                <br>
                <input type="submit" value="Создать!">
            </form>

        </td>
    </tr>
    <tr height="150px">
        <td bgcolor="aqua">4</td>
    </tr>
</table>


</body>

</html>
