<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
    <link th:href="style.css" rel="stylesheet">
</head>

<body>
<table width="100%"> <!-- min-width + max-width -->
    <tr height="150px">
        <td bgcolor="#696969">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg" alt="">
                    </td>
                    <td ><h1 align="center">Приложение</h1></td>
                    <td width="100px"><a href="#">Войти</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="aqua">

            <table id="menu" >
                <tr>
                    <td><a th:href="@{/index}">Trainers</a></td>
                    <td><a href="#">Admin</a></td> <!-- пункт будет спрятан не для админов -->
                    <td><a href="/index/">Profile</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="150px">
        <td>
            <!-- Content -->
            <h2>Профиль</h2>

            <table width="600px"> <!-- в ьабл все коллекции -->
                <tr height="300px">
                    <td width="300px">
                        <img id="profile-img" width="300px" th:src="${found_by_id_trainer.imageAvatar}">


                        <a th:href="@{/recording/{id} (id=${found_by_id_trainer.id})}"><input type="submit" value="Не забудь аписаться!"></a>


                <tr>
                    <td>Имя:</td>
                    <td th:text="${found_by_id_trainer.name}"></td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td th:text="${found_by_id_trainer.surname}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="${found_by_id_trainer.email}"></td>
                </tr>
                <tr>
                    <td>Стаж работы:</td>
                    <td th:text="${found_by_id_trainer.workExperience}"></td>
                </tr>

                <tr>

                </tr>

                    </td>
                    <td rowspan="2" valign="top" >

                        </table>

                    </td>
                 </tr>
                </tr>
                <tr>
                    <td>
                        <form method="POST"  th:action="@{/comment/create}" th:object="${createdCommentDto}">
                            <p><b>Оставьте ваш отзыв:</b></p>
                            <lable for="name">Name:</lable>
                            <input type="text" id="name" th:field="*{userName}">
                            <br>
                            <lable for="userSurname">Surname:</lable>
                            <input type="text" id="userSurname" th:field="*{userSurname}">
                            <br>
                            <lable for="email">Email:</lable>
                            <input type="text" id="email" th:field="*{userEmail}">
                            <p><b>Сообщение:</b></p>
                            <p><textarea name="message" id="message" th:value="*{message}"></textarea></p>
                            <input type="hidden" id="trainerId" th:name="trainerId" th:value="${found_by_id_trainer.getId()}">

                            <p><input type="submit"></p>
                        </form>
                    </td>

                </tr>
            </table>

            <table id="comment-table" border="1">
                <tr>Сообщения пользователей:</tr>
                <td width="100px">Имя: </td>
                <td>Фамилия: </td>
                <td>Email:</td>
                <td width="100px">Comment:</td>
                <br>

                <tr th:each="commet : ${found_by_id_trainer.getComments()}">

                    <td th:text="${commet.userName}"></td>
                    <td th:text="${commet.userSurname}"></td>
                    <td th:text="${commet.userEmail}"></td>
                    <td th:text="${commet.message}"></td>

                </tr>
            </table>
            <hr>

        <table id="recording-table" border="1">
            <tr>Записи к тренеру:</tr>
            <td width="100px">Имя: </td>
            <td width="100px">Фамилия: </td>
            <td width="100px">Время:</td>
            <td width="100px">День:</td>

            <tr th:each="recording : ${found_by_id_trainer.getRecordings()}">
                <td th:text="${recording.userName}"></td>
                <td th:text="${recording.surname}"></td>
                <td th:text="${recording.time}"></td>
                <td th:text="${recording.day}"></td>

        </table>


        </td>
    </tr>
    <tr height="150px">
        <td bgcolor="aqua">4</td>
    </tr>
</table>


</body>

</html>